# Use of twitter to analyse global discussion regarding snakebite research
### Author: Ryan Nazareth(Manta Ray Media), Date: 29/08/2017

## 1.Text Mining/Cleaning

### 1.1 Importing required python libraries

In [1]:
%reset -f

import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
# nltk package for Natural Language Processing 
import nltk
import tweepy
# import spacy
from tweepy import Stream, OAuthHandler
from tweepy.streaming import StreamListener
from nltk.stem.lancaster import LancasterStemmer
from nltk.corpus import stopwords
# nltk.download() #run this first time to download all the packages in nltk

#import plotly.plotly as py
#import plotly 
#import plotly.graph_objs as go
import datetime
import re
#plotly.tools.set_credentials_file(username='ryankarlos', api_key='CL8snC9zs6IImm5vHaDB')

### use encoding 'latin-1' to account for encoding errors when importing into data frame

### 1.2 Download all NLTK packages

Run this cell once to download all the packages and corpus in NLTK

In [ ]:
#nltk.download() #run this first time to download all the packages in nltk

### 1.3 Creating an empty dataframe or uploading older csv file

In [ ]:
##Run this if you want to store streaming data

In [2]:
tweet_list = []

In [ ]:
##Run this if you want to analyse previous csv. In thsi case, jump staright to section 1.8

In [2]:
tweet_frame = pd.read_csv('snakebite29082017.csv', sep = ',', encoding = 'latin-1')

### 1.4 Create an account on twitter API and generate authentication keys

You need to create an account on https://apps.twitter.com/ and generate the following tokens and keys:
ACCESS_TOKEN, ACCESS_SECRET, CONSUMER_KEY, CONSUMER_SECRET

In [3]:
# Variables that contains the user credentials to access Twitter API

ACCESS_TOKEN = '4697687863-ZEcLqfJmVlh6CQCqjWiHy90tedLSbESb5gUeUt6'
ACCESS_SECRET = 'htY8DCAMWMjU5j3XVvSI4Q328Bd8vkQQMeNqgdW9sg4qQ'
CONSUMER_KEY = 'amEQkb7tXUxgtFPsT6R85MtBR'
CONSUMER_SECRET = 'lor3v8LzzeZeVrUYux6bO4ljPDLIHZFGxT3h7VgxZiDJYCzVeP'

### 1.5 Using Twitter search library to search for keywords

In [4]:
#keywords = ['snakebite']
#['venomous', 'snake']
# ['snake', 'anti-venom']
# ['snakebite', 'venom']
# ['envenoming']

from TwitterSearch import *

try:
    tso = TwitterSearchOrder()  # create a TwitterSearchOrder object
    tso.set_keywords(['snakebite', 'venom'] )  # let's define all words we would like to have a look for
    #tso.set_keywords(['snake', 'anti-venom'])  # let's define all words we would like to have a look for
    tso.set_language('en')  # we want to see English tweets only
    tso.set_include_entities(False)  # and don't give us all those entity information
    #tso.set_until(datetime.date(2017, 8, 12))
    # it's about time to create a TwitterSearch object with our secret tokens
    ts = TwitterSearch(
        consumer_key=CONSUMER_KEY,
        consumer_secret=CONSUMER_SECRET,
        access_token=ACCESS_TOKEN,
        access_token_secret=ACCESS_SECRET)
    count = 0
    for tweet in ts.search_tweets_iterable(tso):
        print('%s@%s tweeted: %s' % (tweet['created_at'], tweet['user']['screen_name'], tweet['text']))
        print()
        count = count + 1
        if count > 11:
            break      ### stops printing out after 12 tweets are printed
        tweet_list.append([tweet['id'], tweet['created_at'], tweet['user']['screen_name'], tweet['favorite_count'],
                           tweet['retweet_count'], tweet['user']['followers_count'], tweet['user']['friends_count'],
                           tweet['text'], tweet['user']['time_zone'], tweet['user']['location']])

except TwitterSearchException as e:  # take care of all those ugly errors if there are some
    print(e)

Sat Aug 19 15:45:55 +0000 2017@zegirish tweeted: RT @VenomInterviews: Fighting #snake #venom in rural Myanmar â€” #antivenom #healthcare #snakebite #snakes

https://t.co/buxczRLSMx https://tâ€¦

Fri Aug 18 15:20:26 +0000 2017@CallMeNikkiMc tweeted: In honor of all the visitiors for the solar eclipse, the ER has stocked up on snakebite anti-venom. Welcome to #Nebraska, kids.

Tue Aug 15 19:42:52 +0000 2017@delanidalton tweeted: but injecting venom into a snakebite doesn't solve the damage

Tue Aug 15 18:39:02 +0000 2017@Omnicell tweeted: Preparing for the eclipse next week, #hospitals stock up on anti-venom, supplies to ready for rush:â€¦ https://t.co/cWPQrXe0t7

Tue Aug 15 02:46:39 +0000 2017@New_Level_Music tweeted: RT @PunchFullPro: @New_Level_Music @UTA_united_UA Hiss, Poison and Venom ðŸ #UACrew #SnakeBite

Tue Aug 15 02:40:04 +0000 2017@DataFileTech tweeted: Hospitals stocking up on snakebite venom for the #eclipse. How are you prepping? https://t.co/BueJAnkmGS

Tue Aug 15 01:16:57 +0000 2017@PunchFullPro tweeted: @New_Level_Music @UTA_united_UA Hiss, Poison and Venom ðŸ #UACrew #SnakeBite

Tue Aug 15 00:29:52 +0000 2017@owenkeithpaiva tweeted: RT @RAPacificBeat: Cheaper anti-venom for snakebite victims in Papua New Guinea is being developed, but it won't be ready for a while httpsâ€¦

### 1.6 Prints all the keys in the json file

In [5]:
print(tweet.keys())

dict_keys(['created_at', 'source', 'retweeted_status', 'favorite_count', 'in_reply_to_screen_name', 'coordinates', 'is_quote_status', 'geo', 'metadata', 'retweet_count', 'in_reply_to_user_id', 'truncated', 'in_reply_to_status_id_str', 'retweeted', 'id', 'contributors', 'in_reply_to_user_id_str', 'favorited', 'id_str', 'in_reply_to_status_id', 'place', 'lang', 'text', 'user'])

### 1.7 Storing the different tweet attributes in a dataframe

In [6]:
tweet_frame = pd.DataFrame(tweet_list, columns=(
    'User_id', 'Date', 'User', 'Favourite_count', 'Retweet_count', 'Followers_count', 'Friends_count', 'Text',
    'Time_zone',
    'Location'))
tweet_frame.head(50)

,User_id,Date,User,Favourite_count,Retweet_count,Followers_count,Friends_count,Text,Time_zone,Location
0,898934059350360068,Sat Aug 19 15:45:55 +0000 2017,zegirish,0,4,282,805,RT @VenomInterviews: Fighting #snake #venom in...,Pacific Time (US & Canada),Thiruvananthapuram
1,898565257580478464,Fri Aug 18 15:20:26 +0000 2017,CallMeNikkiMc,2,0,52,139,In honor of all the visitiors for the solar ec...,Mountain Time (US & Canada),
2,897544135074119680,Tue Aug 15 19:42:52 +0000 2017,delanidalton,3,0,540,296,but injecting venom into a snakebite doesn't s...,None,Az
3,897528072953487360,Tue Aug 15 18:39:02 +0000 2017,Omnicell,0,0,2216,2065,"Preparing for the eclipse next week, #hospital...",Eastern Time (US & Canada),"Mountain View, CA"
4,897288396397314048,Tue Aug 15 02:46:39 +0000 2017,New_Level_Music,0,1,4752,928,RT @PunchFullPro: @New_Level_Music @UTA_united...,Eastern Time (US & Canada),Atlanta
5,897286742822322176,Tue Aug 15 02:40:04 +0000 2017,DataFileTech,0,0,649,1040,Hospitals stocking up on snakebite venom for t...,Central Time (US & Canada),"Kansas City, Missouri"
6,897265824163143681,Tue Aug 15 01:16:57 +0000 2017,PunchFullPro,4,1,130,93,"@New_Level_Music @UTA_united_UA Hiss, Poison a...",None,
7,897253975166025728,Tue Aug 15 00:29:52 +0000 2017,owenkeithpaiva,0,2,36,144,RT @RAPacificBeat: Cheaper anti-venom for snak...,Port Moresby,"Port Moresby, Papua New Guinea"

### 1.8 Dropping tweets with null values and creating separate column for cleaned tweet

In [7]:
##### Dropping tweets with null values #################
tweet_frame = tweet_frame.dropna(subset=['Text'])
tweet_frame = tweet_frame.reset_index(drop = True)

#### keep hold of original tweets and create a seperate column 
# for doing preprocessing and creating cleaned tweets
tweet_frame['cleaned'] =  tweet_frame['Text'].values

#### removing tweets with certain irrelevant users posting and receiving tweets

### 1.9 Filtering users who post unrelated 'snakebite' topics

These are topics unrelated to snakebite research but also use the word 'snakebite' sucn as beer (snakebite), darts player (snakebite), troll words related to snake/snakebite, defence organsiation etc.

In [8]:
filter_users = ['SnakeBite_Fc', 'lady_snakebite', 'Lady Snakebite','Spartan', 'snakebitewright', 'JoRoNoMo', 'snakebite_1974', 
                'WalkaboutBourno', 'PhilTaylor','Wookiewobbles', 'KnowYourVideo', 'LaGucciVida', 'jadinearnold','injytech', 
                'SarahFilmBooth', 'Ventieus', 'ChopperNews', 'Thebyrdgrl', 'livedarts', 'BetVictor', 'HonestlyWhite', '_succ_'
                'Betfred', 'videogameurl', 'snakebite', 'amandaorson' , 'snakebitekorf', 'snakebite_part2', 'One_Step_Events',
                'Puntfair', 'snakebite_part2', 'snakebite_2tite', 'snakebite', 'defencepk', 'BostonRockRadio', 'Snakebite_X',
                'MLGACE', 'G1g_junkie']

def removeusers(tweet_frame):
    row = list()
    for i in range(0, tweet_frame.shape[0]):
        if any (word in tweet_frame['User'][i] for word in filter_users):
            row.append(i)
        elif filter((lambda x: re.search('game', x)),tweet_frame['User'][i]) == ('game'):
            row.append(i)
        elif any(word in tweet_frame['Text'][i] for word in filter_users):
            row.append(i) 
    
    tweet_frame.drop(tweet_frame.index[row], inplace=True)
    return tweet_frame
           
removeusers(tweet_frame)
tweet_frame = tweet_frame.reset_index(drop = True)   ### resets the index when removing rows and does not add a  new column index

### 1.10 Producing a data cleaning pipeline

This involes the following procedures: Removing stopwords, punctuation, @, http links, tokensiation, lemmitisation/stemming. The words in the cleaned tweet is then stored as an array in the 'cleaned' column. 

Stop words are the words we want to filter out before training the classifier. These are usually high frequency words that arenâ€™t giving any additional information to our labeling. In fact, they actually confuse our classifier. In English, they could be the, is, at, which, and on. 
Lemmatisation or stemming is the process for reducing inflected words to their word stem (base form). e.g. infected and infectious become infect. The classfier does not understand that infected and infectious come from the same root word and treat them as different. By stemming them, it groups the frequencies of different inflection to just one term.

In [9]:
                
print(stopwords.words('english'))
stop = ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', 'your', 'yours', 'yourself',
             'yourselves', 'he', 'him', 'his', 'himself', 'she', 'her', 'hers', 'herself', 'it', 'its', 'itself',
             'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', 'these',
             'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do',
             'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while',
             'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before',
             'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again',
             'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each',
             'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than',
             'too', 'very', 's', 't', 'can', 'will', 'just', 'don', 'should', 'now', 'd', 'll', 'm', 'o', 're', 've',
             'y', 'ain', 'aren', 'couldn', 'didn', 'doesn', 'hadn', 'hasn', 'haven', 'isn', 'ma', 'mightn', 'mustn',
             'needn', 'shan', 'shouldn', 'wasn', 'weren', 'won', 'wouldn']

import re
import string
from nltk import pos_tag
from nltk.stem import PorterStemmer, WordNetLemmatizer, SnowballStemmer
stemmer = SnowballStemmer("english")
lemmatiser = WordNetLemmatizer()

cleaned_tweet = []
def cleantweet(tweet_frame, cleaned_tweet):
    
    for data in tweet_frame['cleaned']:
        str_no_hyperlinks=re.sub(r'https?:\/\/.*\/\w*','',data)  ## removes links
        str_lower =str_no_hyperlinks.lower()  ## sets the resulting tweet to lowercase
        str_no_username = re.sub(r'(?:@[\w_]+)', '', str_lower) # removes @-mentions 
        str_no_username = str_no_username.strip() ## splits the tweet into words
        exclude = set(string.punctuation) ## setting a list of punctuations
        str_no_punc = "".join(word for word in str_no_username if word not in exclude) ## removes punctuation
        tokenised = nltk.word_tokenize(str_no_punc) ##tokenisation 
        stop_free = [word for word in tokenised if word not in stopwords.words('english')] ## remove stop words
        word_lemm = [lemmatiser.lemmatize(t) for t in stop_free] ## lemmatisation
        #word_stem = [stemmer.stem(i) for i in word_lemm]  ## optional stemming
        cleaned_tweet.append(word_lemm)  ##append the resulting vector to the cleaned tweet column
                  
    return cleaned_tweet

cleantweet(tweet_frame, cleaned_tweet)

tweet_frame['cleaned'] = cleaned_tweet

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', 'her', 'hers', 'herself', 'it', 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', 'should', 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', 'couldn', 'didn', 'doesn', 'hadn', 'hasn', 'haven', 'isn', 'ma', 'mightn', 'mustn', 'needn', 'shan', 'shouldn', 'wasn', 'weren', 'won', 'wouldn']

### 1.11 Filtering out irrelevant tweets

Tweets are filtered out by one of two methods: 
*If keywords in the cleaned vector are present in the keywords_filter list - then tweet is removed.
OR 
*If length of the word vector is less than 6, then the tweet is removed. This value was found to be optimal after tweaking. Irrelevant tweets (especially people who troll) are more likely to be short in length with fewer words (after stopword removal)

In [10]:

keywords_filter  =['wright', 'dart', 'race', 'bike', 'cmon', 'cmmon', 'piercings', 'piercing','pierced','fuck', 'fuckin', 'tit','fucking',
                   'music', 'radio','cunt', 'dick','ass', 'currant', 'guinness', 'hockey', 'pee', 'dj','drink', 'peter', 'phil', 
                   'taylor', 'horror', 'movie', 'film', 'beer', 'whiskey','pint', 'text','vodka', 'apple', 'stream', 
                   'streaming', 'booze', 'knight', 'game','code', 'blackcurrant', 'blackcurrent', 'cider', 'match', 
                   'ring', 'piercing', 'tattoo','rt', 'rts','@', 'drinking', 'drinkin', 'retweet','drink', 'drunk', 'uni', 'player',
                   'swig', 'served', 'serve', 'serves', 'bar', 'worldmatchplay', 'worldmatchplaydarts', 'happy', 'love',
                   'religion', 'gnight', 'sneaky', 'sic', 'lovely', 'played', 'plays', 'play', 'played', 'sunday', 'alcohol','saturday',
                   'gin','brew', 'god', 'pub', 'lol', 'lmao','lmfao','tix', 'dm','tickets', 'deal', 'boozer', 'nowplaying', 'night',
                   'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'war', 'party', 'cold', 'oh', 'ohh', 'ooohhh', 'oohh', 'ha', 'haha', 'hah',
                   'nightlife', 'partying', 'raspberry', 'grill', 'bill', 'uacrew', 'connector', 'connecting', 'wire', 'sell', 'selling', 'purple',
                   'gun', 'violence', 'rating', 'movie', 'video', 'weight', 'nip', 'turtle', 'chronicles', 'chronicle', 'bus', 'dollar', 'coin',
                   'chopper', 'bust', 'busted', 'pistol', 'boom', 'glove', 'diy', 'enter', 'evil', 'draught', 'cook', 'cooking', 'vid', 'diesel',
                    'jungle', 'juice', 'stud', 'ring', 'lip', 'nipple', 'staff', 'dodgy', 'win' , 'loss', 'fan', 'band', 'semifinal', 'melbournedarts',
                    'winner', 'loser', 'compete','dinner', 'restaurant', 'mvp', 'goat','fc', 'sing', 'album', 'sung', 'chart', 'classic', 'sport', 'dc',
                    'omg', 'quid', 'trump', 'nazi','driver', 'Christ', 'love', 'silverware', 'caline', 'grimlock', 'mayan', 'necklace', 'unibet180', 'beat',
                    'bos', 'boss', 'wade', 'mary']

def filtertweets(tweet_frame):
    row = list()
    for i in range(0, tweet_frame.shape[0]):
        if any (word in tweet_frame['cleaned'][i] for word in keywords_filter):
            row.append(i)
        if len(tweet_frame['cleaned'][i]) <6:
            row.append(i)
    tweet_frame.drop(tweet_frame.index[row], inplace=True)
    return tweet_frame

filtertweets(tweet_frame)
tweet_frame.head(10)

,User_id,Date,User,Favourite_count,Retweet_count,Followers_count,Friends_count,Text,Time_zone,Location,cleaned
0,897528072953487360,Tue Aug 15 18:39:02 +0000 2017,Omnicell,0,0,2216,2065,"Preparing for the eclipse next week, #hospital...",Eastern Time (US & Canada),"Mountain View, CA","[preparing, eclipse, next, week, hospital, sto..."

### 1.12 Concatenating results to existing csv

In [ ]:
tweet_frame.to_csv('snakebite29082017.csv', header = False, mode = 'a')

### 1.13 Viewing the entire csv

In [16]:
tweet_frame = pd.read_csv('snakebite29082017.csv', sep = ',', encoding = 'latin-1') 
tweet_frame.head(10)

,Unnamed: 0,User_id,Date,User,Favourite_count,Retweet_count,Followers_count,Friends_count,Text,Time_zone,Location,cleaned,Timestamp
0,20,NaN,Jul-03,zone_get,1,0,NaN,NaN,Do you know how to avoid and treat a venomous ...,NaN,NaN,"['know', 'avoid', 'treat', 'venomous', 'snake'...",18:51:52
1,19,NaN,Jul-03,dougcarl88181,0,0,NaN,NaN,Snakebite could have killed toddler if not for...,NaN,"Phoenix, AZ","['snakebite', 'could', 'killed', 'toddler', 'q...",16:02:26
2,100,NaN,Jul-04,MadisonReptiles,1,0,NaN,NaN,Check out this article on an educational infog...,NaN,"Madison, WI","['check', 'article', 'educational', 'infograph...",21:55:43
3,99,NaN,Jul-04,zone_get,0,0,NaN,NaN,Do you know how to avoid and treat a venomous ...,NaN,NaN,"['know', 'avoid', 'treat', 'venomous', 'snake'...",17:10:00
4,125,NaN,Jul-05,Mafaranga,0,0,NaN,NaN,Snakebite patients with evidence of envenoming...,NaN,"Kampala, Uganda","['snakebite', 'patient', 'evidence', 'envenomi...",13:56:31
5,124,NaN,Jul-05,PambeleInvest,1,0,NaN,NaN,Thank you African Snakebite Institute for this...,NaN,"Richards Bay, South Africa","['thank', 'african', 'snakebite', 'institute',...",13:47:32
6,87,NaN,Jul-06,andanin,1,0,NaN,NaN,Snakebite is an urban though it is perceived a...,NaN,"Geelong, Victoria","['snakebite', 'urban', 'though', 'perceived', ...",00:27:59
7,86,NaN,Jul-06,andanin,1,0,NaN,NaN,"Snakebite was classed as a 'violent death', as...",NaN,"Geelong, Victoria","['snakebite', 'classed', 'violent', 'death', '...",00:05:27
8,61,8.940000e+17,Aug-06,559houses,3,0,81120.0,62643.0,"Dog 1, Rattlesnake 0: San Juan Capistrano Pet ...",Pacific Time (US & Canada),Fresno California,"['dog', '1', 'rattlesnake', '0', 'san', 'juan'...",18:57:00
9,14,8.950000e+17,Aug-07,holed001,0,0,354.0,623.0,@Single_CLE @suburb_single No bouncers these d...,NaN,"Rochester, Kent","['bouncer', 'day', 'strict', 'lad', '16', 'coc...",15:06:09

## Tableau plots

In [1]:
## From tableau

from IPython.core.display import display, HTML

display(HTML("""<a href = "https://public.tableau.com/profile/ryan.nazareth#!/vizhome/tweetsovertime_0/Numberoftweetsovertime"> Tableau - Tweets over time</a>"""))
display(HTML("""<a href = "https://public.tableau.com/profile/ryan.nazareth#!/vizhome/Numberofretweetsandfavourites/Numberofretweetsandfavourites?publish=yes"> Tableau Number of retweets and favs </a>"""))
display(HTML("""<a href = "https://public.tableau.com/profile/ryan.nazareth#!/vizhome/Userposts/Numberofuserposts?publish=yes"> Tableau User posts </a>"""))